<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <queries>
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="com.apple.android.music" />
        <package android:name="com.amazon.mp3" />
        <package android:name="deezer.android.app" />
        <package android:name="com.aspiro.tidal" />
        <package android:name="org.videolan.vlc" />
        <package android:name="com.maxmpz.audioplayer" />
        <package android:name="com.sec.android.app.music" />
        <package android:name="in.krosbits.musicolet" />
        <intent><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.APP_MUSIC" /></intent>
        <intent><action android:name="android.speech.action.VOICE_SEARCH_HANDS_FREE" /></intent>
        <intent><action android:name="android.speech.action.RECOGNIZE_SPEECH" /></intent>
        <package android:name="com.waze" />
        <package android:name="com.grabtaxi.driver2" />
        <package android:name="com.linecorp.lineman.driver" />
        <package android:name="jp.naver.line.android" />
        <package android:name="com.facebook.orca" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.ss.android.ugc.trill" />
        <intent><action android:name="android.intent.action.SENDTO" /><data android:scheme="smsto" /></intent>
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.spotify.music" />
        <package android:name="jp.co.yamahamotor.yamahamotorcycleconnect.sccu" />
        <package android:name="com.garmin.android.apps.streetcross" />
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <intent>
            <action android:name="android.intent.action.VOICE_COMMAND" />
        </intent>
        <intent>
            <action android:name="android.intent.action.ASSIST" />
        </intent>
        <package android:name="org.telegram.messenger" />
        <package android:name="org.thoughtcrime.securesms" />
        <package android:name="com.instagram.android" />
        <package android:name="com.viber.voip" />
        <package android:name="com.discord" />
        <package android:name="com.tencent.mm" />
        <package android:name="com.here.app.maps" />
        <package android:name="com.sygic.aura" />
        <package android:name="com.mapswithme.maps.pro" />
        <package android:name="net.osmand" />
        <package android:name="net.osmand.plus" />
        <package android:name="app.organicmaps" />
    </queries>

    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <application
        android:name=".RideDeckApplication"
        android:allowBackup="false"
        android:label="${appLabel}"
        android:icon="@mipmap/yamaha_launcher"
        android:roundIcon="@mipmap/yamaha_launcher"
        android:theme="@style/RideDeckTheme"
        android:usesCleartextTraffic="false">
        <activity android:name=".RoutePreviewActivity" android:exported="false" android:screenOrientation="user" />
        <activity android:name=".SharedLocationActivity" android:exported="true" android:screenOrientation="portrait" android:label="${appLabel}">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".SetupActivity" android:exported="true"
            android:screenOrientation="portrait" android:resizeableActivity="false"
            android:taskAffinity="${applicationId}.setup" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.app.action.AUTOMATIC_ZEN_RULE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".QuickCameraActivity" android:exported="false" android:screenOrientation="user" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="user"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".GX12NotificationListener"
            android:label="RideDeck for Yamaha music and messages"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


        <receiver android:name=".UpdateRecoveryReceiver" android:exported="false">
            <intent-filter><action android:name="android.intent.action.MY_PACKAGE_REPLACED" /></intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.apkprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service android:name=".YamahaCastService" android:exported="false" android:stopWithTask="false" android:foregroundServiceType="connectedDevice" />
        <service android:name=".NativeNavigationService" android:exported="false" android:stopWithTask="false" android:foregroundServiceType="location" />
    </application>
</manifest>
